on: [push]

jobs:
  example:
    runs-on: ubuntu-22.04
    name: Test
    steps:
      # Gets a copy of the source code in your repository before running API tests
      - uses: actions/checkout@v4.2.2
      - uses: actions/setup-python@v6
        with:
          python-version: '3.13'

      - uses: astral-sh/setup-uv@v6

      # Installs project's dependencies
      - run: uv pip install --system -r apps/python/requirements.txt

      # Start the API in the background
      - run: python apps/python/app.py &

      # Set sample access token
      - name: Set access token
        run: cat apps/python/secret.json | python3 -c "import sys, json; print(f'ACCESS_TOKEN={json.load(sys.stdin)[\"access_token\"]}')" >> $GITHUB_ENV

      - name: Default test
        uses: ./
        with:
          schema: 'http://127.0.0.1:5001/openapi.json'
          args: '--include-name-regex success -H "Authorization: Bearer ${{ env.ACCESS_TOKEN }}"'

      - name: Custom hooks
        uses: ./
        with:
          schema: 'http://127.0.0.1:5001/openapi.json'
          version: 'latest'
          hooks: 'apps.python.hooks'
          args: '-c custom_check --include-name-regex success -H "Authorization: Bearer ${{ env.ACCESS_TOKEN }}"'

      - name: Write a Schemathesis config file
        run: |
          mkdir -p .github/schemathesis
          cat <<EOF > .github/schemathesis/schemathesis.toml
          [[operations]]
          # Disable everything except `GET /success`
          exclude-name = "GET /success"
          enabled = false
          EOF

      - name: With config file
        uses: ./
        with:
          schema: 'http://127.0.0.1:5001/openapi.json'
          version: 'latest'
          config-file: '.github/schemathesis/schemathesis.toml'
          args: '-H "Authorization: Bearer ${{ env.ACCESS_TOKEN }}"'
